{
  "extends": [
    "@fiquu/eslint-config/typescript"
  ],
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "max-lines-per-function": "off",
    "max-lines": "off"
  }
}
